<div class="flex flex-col p-2" id="comparetwo" hx-target="#comparetwo" hx-indicator="#spinnerbar"  hx-include="[name='left_obj_type'] , [name='right_obj_type'], [name='left_db'], [name='right_db'], [name='left_tbl'], [name='right_tbl'] , [name='left_pivot_choice'], [name='right_pivot_choice']  , [name='left_pivot_column'], [name='right_pivot_column'] , [name='left_pivot_format'], [name='right_pivot_format']"
  hx-headers='{"CLIENT_SESSION_ID": "{{ CLIENT_SESSION_ID }}"}'>

  <div class="artboard-demo artboard-horizontal bg-base-300 p-3 flex flex-row"><div class="p-3">Compare Two Objects</div><span id="spinnerbar" class="my-indicator loading loading-spinner loading-lg"></span></div>

  <div class="flex sm:flex-row flex-col px-2 mt-2">

    <div class="flex-auto flex flex-col rounded bg-base-300 p-2 items-center mr-1">
      <select class="select w-full max-w-xs" name="left_obj_type" hx-trigger="input changed delay:500ms" hx-post="/compt/refresh_both" hx-ext='json-enc'>
        {% for key, value in main_compare_types.items() %}
        {% if value == t_compare_objects.left_obj_type %}
        <option selected>{{ value }}</option>
        {% else %}
        <option {% if loop.first %}disabled{% endif %}>{{ value }}</option>
        {% endif %}
        {% endfor %}
      </select>
      {% if t_compare_objects.left_obj_type %}
      {% if t_compare_objects.left_obj_type=="Table" %}
      {% with side='left' %}
      {% include 'fragments/table_compare.html' %}
      {% endwith %}
      
      {% endif %}
      {% endif %}
    </div>
    <div class="flex-auto flex flex-col rounded bg-base-300 p-2 items-center mr-1">
      <select class="select w-full max-w-xs" name="right_obj_type" hx-trigger="input changed delay:500ms" hx-post="/compt/refresh_both" hx-ext='json-enc'>
        {% for key, value in main_compare_types.items() %}
        {% if value == t_compare_objects.right_obj_type %}
        <option selected>{{ value }}</option>
        {% else %}
        <option {% if loop.first %}disabled{% endif %}>{{ value }}</option>
        {% endif %}
        {% endfor %}
      </select>
      {% if t_compare_objects.right_obj_type %}
      {% if t_compare_objects.right_obj_type=="Table" %}
      {% with side='right' %}
      {% include 'fragments/table_compare.html' %}
      {% endwith %}
      
      {% endif %}
      {% endif %}
    </div>
  </div>


  <div class="artboard-demo artboard-horizontal bg-base-300 p-3 mt-3"></div>


</div>


