
    {% for user in userlist %}
    {% if loop.last and shouldusepagination %}
    <tr  hx-get="/home/?page_number={{ next_page_number }}&page_size={{ page_size }}"  hx-trigger="intersect once threshold:0.9"  hx-swap="afterend" hx-target="this" hx-indicator="#spinner">
        {% else %}
    <tr>
        {% endif %}
        <th>{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.date_of_birth }}</td>
    </tr>
    {% endfor %}

    
    