
    {% for order in itemlist %}
    {% if loop.last and shouldusepagination %}
    <tr  hx-get="/liveorderlongpoll/?page_number={{ next_page_number }}&page_size={{ page_size }}"  hx-trigger="intersect once threshold:0.9"  hx-swap="afterend" hx-target="this" hx-indicator="#spinner">
        {% else %}
    <tr>
        {% endif %}
        <th>{{ order.id }}</th>
        <td>{{ order.start_time }}</td>
        <td>{{ order.end_time }}</td>
        <td>{{ order.batch_date }}</td>
        <td>{{ order.name }}</td>
    </tr>
    {% endfor %}

    
    