{% extends 'base.html' %}
{% block hyperscript %}
<script type="text/hyperscript">
  behavior Orderbehaviour       
    on change 
      set :l1 to next <input/>
      if value of :l1 is 0 then
        set @value of :l1 to 1
      else
        set @value of :l1 to 0
      end
      trigger submit on #orderable
    end
  end
</script>
{% endblock %} 
{% block content %}
<div class="flex-auto mb-2" id="maincontent" hx-include="[name='order_list'] , [name='search_query']">
  <!-- hx-include="[name='page_number'], [name='page_size']" -->
  <div class="flex flex-row-reverse p-2" >

    <input  class="input input-bordered input-primary input-md max-w-xs form-control" type="search" name="search_query" hx-ext='json-enc' hx-target="#search-results-tbl"
      id="search" value="{{ search_text }}" placeholder="Begin Typing To Search Users..." hx-post="/get_users3" 
      hx-trigger="input changed delay:500ms, search" hx-indicator="#spinnertop">
  <div class="collapse collapse-arrow bg-base-200 collapse-open mr-6" id="ordersection">
    {% include 'fragments/order_section.html' %}
  </div>


  </div>

    <div class="divider divider-primary">{{ title }}</div>
    <div id="spinnertop" class="my-indicator border-red-300">
    <div class="flex justify-center border-5"><span class="loading loading-ring loading-lg"></span></div>
    </div>
    {% include 'fragments/table_and_rows.html' %}
    <div id="spinnerbottom" class="htmx-indicator flex justify-center"><span class="loading loading-ring loading-lg"></span>
    </div>
</div>
  {% endblock %}


  {% block javascript %}
<script type="text/javascript">
    htmx.onLoad(function(content) {
      var sortables = content.querySelectorAll(".sortable");
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class',
          // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function(evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
          },
          // Disable sorting on the `end` event
          onEnd: function(evt) {
            //this.option("disabled", true);
          }
        });
        // Re-enable sorting on the `htmx:afterSwap` event
        sortable.addEventListener("htmx:afterSwap", function() {
          imsortableInstance.option("disabled", false);
        });
      }
    })
</script>
{% endblock %} 


