<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

  <style>
    .indicator-style {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }

    .my-indicator {
      display: none;
      transition: 500ms ease-in;
    }

    .htmx-request .my-indicator {
      display: inline;
      transition: 500ms ease-in;
    }

    .htmx-request.my-indicator {
      display: inline;
      transition: 500ms ease-in;
    }
  </style>

</head>

<body>
  <!-- <body  data-theme="retro"> -->
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-screen">
    <!-- Page content here -->
    <div class="flex-auto p-4 mb-4">
      <div class="">
        <table id="search-results-tbl" class="table table-xl table-pin-rows">
          <thead>
            <tr>
              <th></th>
              <td>Namxxxe</th>
              <td>Email</th>
              <td>PhoneNumber</th>
              <td>Address</th>
              <td>Date Of Birth</th>
            </tr>
          </thead>
          <tbody id="search-results-tbd">
            <tr>
              <th>1</th>
              <td>Ryan Gallagher</td>
              <td>ashleypham@example.org</td>
              <td>(591)341-7776</td>
              <td>1777 Kramer Court
                Johnsonfurt, NE 80119</td>
              <td>1964-06-13</td>
            </tr>
            <tr>
              <th>2</th>
              <td>Theresa Brown</td>
              <td>davismichael@example.org</td>
              <td>2114524493</td>
              <td>USS Davis
                FPO AA 22663</td>
              <td>2003-11-22</td>
            </tr>
            <tr>
              <th>3</th>
              <td>Joshua Wood</td>
              <td>brittanyanderson@example.net</td>
              <td>298.925.9791</td>
              <td>9791 Regina Mountains
                Andreaborough, VT 62139</td>
              <td>1969-06-03</td>
            </tr>
            <tr>
              <th>4</th>
              <td>Brian Foster</td>
              <td>kevingriffith@example.com</td>
              <td>841.667.2110</td>
              <td>672 Carl Locks
                Laurenton, IN 68702</td>
              <td>1969-05-01</td>
            </tr>


            <tr>

              <th>5</th>
              <td>Natalie Pope</td>
              <td>judy80@example.com</td>
              <td>+1-545-880-7302x157</td>
              <td>807 Deborah Estate Apt. 573
                Stephensshire, IA 02219</td>
              <td>1987-11-25</td>
            </tr>


            <tr>

              <th>6</th>
              <td>Samantha Washington</td>
              <td>washingtonjose@example.org</td>
              <td>001-717-740-0297</td>
              <td>4002 Sheppard Street
                Luistown, KY 64574</td>
              <td>1996-01-30</td>
            </tr>


            <tr>

              <th>7</th>
              <td>Chris Curtis</td>
              <td>stacie60@example.org</td>
              <td>826-801-8159x08301</td>
              <td>0181 Aguilar Parkways
                North Christopher, MT 09657</td>
              <td>1973-07-18</td>
            </tr>


            <tr>

              <th>8</th>
              <td>Victor Martinez</td>
              <td>mitchellbennett@example.org</td>
              <td>556.823.0123</td>
              <td>30123 Richard Burgs Suite 776
                Berryfurt, CO 64083</td>
              <td>1968-11-18</td>
            </tr>


            <tr>

              <th>9</th>
              <td>James Taylor</td>
              <td>raustin@example.org</td>
              <td>795.242.2058x791</td>
              <td>2205 Villanueva Common Suite 890
                Jacksonmouth, VA 55890</td>
              <td>1980-03-23</td>
            </tr>


            <tr>

              <th>10</th>
              <td>Jessica Lane</td>
              <td>pattersonbelinda@example.org</td>
              <td>001-606-479-0377</td>
              <td>9037 Colon Shoal Apt. 087
                Charlesstad, AZ 55603</td>
              <td>1985-06-05</td>
            </tr>


            <tr>

              <th>11</th>
              <td>Justin Glass</td>
              <td>xglenn@example.com</td>
              <td>387.978.9328x792</td>
              <td>8932 Soto Underpass Apt. 174
                North Amanda, FM 91391</td>
              <td>1979-09-19</td>
            </tr>


            <tr>

              <th>12</th>
              <td>Matthew Estrada</td>
              <td>hadams@example.net</td>
              <td>248.452.6057x4793</td>
              <td>60574 Vaughn Rapid Apt. 809
                South Michael, MA 28059</td>
              <td>1980-10-12</td>
            </tr>


            <tr>

              <th>13</th>
              <td>Michael Sutton</td>
              <td>kelly23@example.net</td>
              <td>242-832-3221x834</td>
              <td>323 David Place
                Lake Kenneth, NE 17054</td>
              <td>1970-06-07</td>
            </tr>


            <tr>

              <th>14</th>
              <td>Michael Pearson</td>
              <td>gilbertkarina@example.net</td>
              <td>698-934-4417</td>
              <td>4417 Owens Well
                Longville, KS 29764</td>
              <td>1963-02-16</td>
            </tr>


            <tr>

              <th>15</th>
              <td>Alexandra Fitzgerald</td>
              <td>alexanderfitzgerald@example.org</td>
              <td>708.502.3002</td>
              <td>Unit 0802 Box 3002
                DPO AP 48642</td>
              <td>2004-05-01</td>
            </tr>


            <tr>

              <th>16</th>
              <td>John Butler</td>
              <td>taylor46@example.org</td>
              <td>(277)646-3706x433</td>
              <td>6370 Dickerson Station Suite 330
                Kevinmouth, TN 19106</td>
              <td>1975-05-10</td>
            </tr>


            <tr>

              <th>17</th>
              <td>Renee Horne</td>
              <td>xroman@example.com</td>
              <td>764.854.2841x03664</td>
              <td>4284 Samantha Gateway Suite 648
                Daniellefurt, DC 72745</td>
              <td>1983-01-21</td>
            </tr>


            <tr>

              <th>18</th>
              <td>Matthew Cook</td>
              <td>davidcole@example.org</td>
              <td>(917)653-3772</td>
              <td>3377 Timothy Mount Suite 341
                Alexaburgh, VI 31244</td>
              <td>1966-09-13</td>
            </tr>


            <tr>

              <th>19</th>
              <td>Rachel Meyer</td>
              <td>gloverabigail@example.net</td>
              <td>+1-308-618-3658x49294</td>
              <td>365 Richards Ranch
                Danielchester, MD 35616</td>
              <td>1990-07-03</td>
            </tr>


            <tr>

              <th>20</th>
              <td>Melissa Miranda</td>
              <td>jordanreid@example.org</td>
              <td>001-724-915-9206x6112</td>
              <td>PSC 2415, Box 9206
                APO AA 10332</td>
              <td>2001-06-21</td>
            </tr>


            <tr>

              <th>21</th>
              <td>Michael Reid</td>
              <td>robertbarnes@example.com</td>
              <td>(566)247-3782</td>
              <td>473 Morton Passage Apt. 883
                North Nathanshire, NE 09579</td>
              <td>1965-12-01</td>
            </tr>


            <tr>

              <th>22</th>
              <td>Brenda Johnson</td>
              <td>johnaustin@example.com</td>
              <td>(530)697-2151</td>
              <td>USNS Sanchez
                FPO AP 59107</td>
              <td>2003-12-30</td>
            </tr>


            <tr>

              <th>23</th>
              <td>Tiffany Stafford</td>
              <td>patricia10@example.net</td>
              <td>001-241-509-4668x52347</td>
              <td>PSC 4109, Box 4668
                APO AA 17580</td>
              <td>2002-05-24</td>
            </tr>


            <tr>

              <th>24</th>
              <td>Sara White</td>
              <td>lfranco@example.org</td>
              <td>001-969-923-2321x240</td>
              <td>23212 Ramsey Trafficway
                South Taylorville, AK 68251</td>
              <td>1992-03-11</td>
            </tr>


            <tr>

              <th>25</th>
              <td>Timothy Bridges</td>
              <td>amack@example.org</td>
              <td>(303)547-0404x9619</td>
              <td>47040 Cunningham Court
                New Gloriaborough, NY 82418</td>
              <td>1976-02-04</td>
            </tr>


            <tr>

              <th>26</th>
              <td>Christina Harris</td>
              <td>donnareynolds@example.net</td>
              <td>001-833-569-8027x0982</td>
              <td>369 David Track
                Williamshaven, GA 83789</td>
              <td>1993-11-14</td>
            </tr>


            <tr>

              <th>27</th>
              <td>Meredith Krueger</td>
              <td>smiles@example.org</td>
              <td>+1-474-543-1148x5456</td>
              <td>3114 King Village Suite 233
                Nicholsonshire, SD 10820</td>
              <td>1989-02-16</td>
            </tr>


            <tr>

              <th>28</th>
              <td>Carlos Harper</td>
              <td>newtonamy@example.net</td>
              <td>528-592-3276</td>
              <td>923 Dana Track
                Clarkberg, MO 21849</td>
              <td>1963-06-04</td>
            </tr>


            <tr>

              <th>29</th>
              <td>Haley Kirk</td>
              <td>reedmegan@example.com</td>
              <td>+1-815-899-4185</td>
              <td>941 Long Brook Apt. 173
                Christopherfort, MA 80163</td>
              <td>1984-04-23</td>
            </tr>


            <tr>

              <th>30</th>
              <td>Donna Johnson</td>
              <td>cheryl93@example.com</td>
              <td>+1-849-409-3406</td>
              <td>093 Williams Lane Apt. 170
                North Charles, GA 79085</td>
              <td>1983-11-17</td>
            </tr>


            <tr>

              <th>31</th>
              <td>Brian Long</td>
              <td>harrisonkathryn@example.org</td>
              <td>5714620218</td>
              <td>2021 Jennifer Dam
                Lake Antonio, AR 18402</td>
              <td>1958-08-04</td>
            </tr>


            <tr>

              <th>32</th>
              <td>Daniel Turner</td>
              <td>houseduane@example.net</td>
              <td>732-743-7001</td>
              <td>43700 Mark Isle
                New Hannahfort, MN 79303</td>
              <td>1961-09-19</td>
            </tr>


            <tr>

              <th>33</th>
              <td>Lynn Montoya</td>
              <td>crystalmontoya@example.com</td>
              <td>001-723-947-8829</td>
              <td>7882 Burch Pines
                Wallaceland, ME 54734</td>
              <td>1985-05-17</td>
            </tr>


            <tr>

              <th>34</th>
              <td>Laurie Bridges</td>
              <td>brenda30@example.com</td>
              <td>459.303.0651x64519</td>
              <td>06516 Peterson Prairie
                North Joshua, RI 00693</td>
              <td>1983-05-23</td>
            </tr>


            <tr>

              <th>35</th>
              <td>Nicole Burgess</td>
              <td>karen52@example.com</td>
              <td>+1-252-652-4649</td>
              <td>524 Sheppard Port
                Lake Aliciaview, SD 48554</td>
              <td>1984-05-03</td>
            </tr>


            <tr>

              <th>36</th>
              <td>William Chung</td>
              <td>brian04@example.org</td>
              <td>300-841-0823x46584</td>
              <td>1082 Joseph Shoal
                Diazview, ND 10691</td>
              <td>1973-10-11</td>
            </tr>


            <tr>

              <th>37</th>
              <td>Anna Williamson</td>
              <td>mcconnellelizabeth@example.net</td>
              <td>+1-891-998-0578x17946</td>
              <td>805 Rice Coves
                Burkeport, MS 96987</td>
              <td>1990-09-26</td>
            </tr>


            <tr>

              <th>38</th>
              <td>Jessica Ramsey</td>
              <td>upatterson@example.org</td>
              <td>+1-766-611-5750x9295</td>
              <td>115 Brooks Rest Apt. 955
                Jenniferport, NJ 76895</td>
              <td>1988-09-11</td>
            </tr>


            <tr>

              <th>39</th>
              <td>James Lee</td>
              <td>jordanjohnson@example.org</td>
              <td>646.703.3690</td>
              <td>33690 Rhodes Station Apt. 041
                Alanchester, MI 55836</td>
              <td>1968-01-28</td>
            </tr>


            <tr>

              <th>40</th>
              <td>Shawn Johnson</td>
              <td>hriley@example.org</td>
              <td>498.203.4325x470</td>
              <td>43254 Fuentes Pines
                North Danielle, RI 93184</td>
              <td>1980-01-06</td>
            </tr>


            <tr>

              <th>41</th>
              <td>David Martin</td>
              <td>kcook@example.com</td>
              <td>(253)926-9484x6903</td>
              <td>69484 Christian Track
                Port Johntown, NV 20823</td>
              <td>1976-04-16</td>
            </tr>


            <tr>

              <th>42</th>
              <td>Allison Hill</td>
              <td>johnsonjoshua@example.org</td>
              <td>+1-210-343-3218x1960</td>
              <td>433 Jill Springs
                New Roberttown, CO 29158</td>
              <td>1988-09-10</td>
            </tr>


            <tr>

              <th>43</th>
              <td>Michael Thomas</td>
              <td>mitchellkathryn@example.com</td>
              <td>2428751797</td>
              <td>5179 Lynch Passage
                Rayside, FM 99501</td>
              <td>1959-11-07</td>
            </tr>


            <tr>

              <th>44</th>
              <td>Joshua Atkins</td>
              <td>smeyer@example.org</td>
              <td>(488)612-6340x31901</td>
              <td>63403 Ashley Courts
                Port Willie, ME 91400</td>
              <td>1977-08-11</td>
            </tr>


            <tr>

              <th>45</th>
              <td>John Miller</td>
              <td>robert41@example.com</td>
              <td>667-341-4501x701</td>
              <td>1450 Todd Crescent Suite 140
                East Josephberg, IL 94519</td>
              <td>1971-01-19</td>
            </tr>


            <tr>

              <th>46</th>
              <td>Jennifer Chapman</td>
              <td>rossbrianna@example.org</td>
              <td>260-299-3829</td>
              <td>99382 Anthony Tunnel Suite 002
                Allisonland, MO 92935</td>
              <td>2000-08-21</td>
            </tr>


            <tr>

              <th>47</th>
              <td>Jeffrey Chavez</td>
              <td>bryan87@example.net</td>
              <td>(216)887-9548x669</td>
              <td>795 Hunt Lock Apt. 601
                West Sherrifort, VA 72156</td>
              <td>1974-11-21</td>
            </tr>


            <tr>

              <th>48</th>
              <td>Bonnie Dawson</td>
              <td>david84@example.net</td>
              <td>+1-452-488-4836</td>
              <td>848 Jennifer Mews
                East Tammy, VI 86663</td>
              <td>1984-04-24</td>
            </tr>


            <tr>

              <th>49</th>
              <td>Jason Rodriguez</td>
              <td>coopersarah@example.com</td>
              <td>656-415-8800</td>
              <td>58800 Moore Street Apt. 883
                Ashleyfurt, AK 33104</td>
              <td>1961-03-18</td>
            </tr>


            <tr>

              <th>50</th>
              <td>Mr. Mark Sanchez MD</td>
              <td>xfoley@example.net</td>
              <td>745.337.5185x3812</td>
              <td>3751 Walker Point Apt. 251
                Luisborough, CA 43613</td>
              <td>1981-11-18</td>
            </tr>




          </tbody>
          <tfoot>
            <tr>
              <th>
                </td>
              <td>Name</td>
              <td>Email</td>
              <td>PhoneNumber</td>
              <td>Address</td>
              <td>Date Of Birth</td>
            </tr>
          </tfoot>
        </table>



      </div>
    </div>



  </div>

</body>

</html>